<!--<app-navbar></app-navbar>
<router-outlet>
  <app-about></app-about>
  <div class="container px-3 pb-5">
    <div class="row gx-5">
      <div class="col-md-7">
        <app-experience></app-experience>
        <hr class="mt-4 pt-4" />
        <app-projects></app-projects>
        <hr class="mt-4 pt-4" />
      </div>
      <div class="col-md-5">
        <app-skills></app-skills>
        <hr class="mt-4 pt-4" />
        <app-education></app-education>
        <hr class="mt-4 pt-4" />
      </div>
    </div>
  </div>
</router-outlet>-->
<app-navbar></app-navbar>
<div class="container px-3 pb-5" style="padding-top: 70px;">
  <app-about></app-about>
  <div class="row gx-5">
    <div class="col-md-7">
      <app-experience></app-experience>
      <hr class="mt-4 pt-4" />
      <app-projects></app-projects>
      <hr class="mt-4 pt-4" />
    </div>
    <div class="col-md-5">
      <app-skills></app-skills>
      <hr class="mt-4 pt-4" />
      <app-education></app-education>
      <hr class="mt-4 pt-4" />
    </div>
  </div>
</div>
